.containerNav{
	width: 100%;
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(250, 229, 229);
	color: rgb(53, 53, 53);

}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
}
.logo a {
	width: 15%;
}

.logo img{
	border-radius: 50%;
	object-fit: cover;
	width: 85%;
}
.title{
	font-size: 30px;
	font-weight: 700;
}

.categories a{
	position: relative;
	font-size: 20px;
	font-weight: 500;
	color: rgb(53, 53, 53);
	margin: 0 60px;
}

.categories a::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #585858;
	transition: .3s;
}

.categories a:hover::before{
	width: 100%;
}

.cartWidget{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cartWidget .cart{
	font-size: 25px;
}

.cartWidget p{
	padding-left: 8px;
}

